
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import "tailwindcss";


*{
 font-family: "Kameron", serif;
}

button{
  @apply cursor-pointer
}

.no-scrollbar ::-webkit-scrollbar{
  display: none;
}

.cl-drawerRoot{
  z-index:100;
}