
@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
@import "tailwindcss";


*{
  font-family: "Yuyu", sans-serif;
}

button{
  @apply cursor-pointer
}

.no-scrollbar ::-webkit-scrollbar{
  display: none;
}

.cl-drawerRoot{
  z-index:100;
}